<div style="width: 80%; margin: 10px auto 10px auto; border: thin solid #222266;">
<div style="padding:3em; word-wrap:break-word; font-family:monospace; white-space: pre-wrap;" id="relnotes"><%= @content %></div>
</div>
</div>
